/*
    Anna Kessler
    11-25-2022
*/


#photo-gallery {
    margin: auto;
    display: flex;
    gap: 1em;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 3em;
}

.photo img {
    object-fit: cover;
    width:  200px;
    height: 200px;
    border: 2px solid black;
}