/*
    Anna Kessler
    11-25-2022
*/

p#intro {
    text-align: center;
    margin-left: 2em;
}
img#gardeners {
    float: right;
    border: solid 2px  #AB6889;
    width: 50%;
    margin: 4em 2em;
    box-shadow: 0 .2em .5em gray;
}
h2 {
    margin-left: 2em;
}
footer {
    clear: right;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
}

h2#ourMission {
    margin-left: 2em;
}

table {
    background-color: rgb(198, 154, 94);
    border: 1em solid rgb(75, 129, 71);
    margin: 1em auto;
    text-align: center;
    border-collapse: collapse;
}

td {
    padding: 1em;
    text-align: center;
}
th {
    border: rgb(198, 154, 94);
    padding: .5em;
}

table, th, td {
    border: 1px solid #AB6889;
  }

