/*
    Anna Kessler
    11-25-2022
*/

form {
    border: 4px solid black;
    width: 65%;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(198, 154, 94);

}

p {
    text-align: center;
}

fieldset {
    margin: auto;
    border: 1px solid #7D5B9D;
}

fieldset legend {
    font-style: italic;
}

fieldset#experience {
    padding: 1em;
}

table {
    border: 1px solid black; 
    background-color: rgb(198, 154, 94);
}



input[type="radio"], input[type="checkbox"] {
    display: inline-block;
}

input[type="radio"] {
    margin: .25em;
}

input[type="checkbox"] {
    margin: .75em;
}
input[type="submit"], input[type="reset"] {
    display: inline-block;
    background-color: #AB6889;
    color: cornsilk;
    border: solid 2px rgb(75, 129, 71);
    padding: 1em;
    margin: .2em;
}
div#bottomButtons {
    text-align: center;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    font-weight: bold;
    border-color: #7D5B9D
}